<div class="header">
  <img routerLink="/home" ngSrc="assets/images/login.jpg" alt="" height="50" width="50">
</div>

<div class="wrapper-detail-product">
  <div class="product-detail">

    <div class="content-img">
      <div class="img-primary">
        <img alt="ecommerce" [src]="cover()"/>
      </div>
      <div class="images">
        <img *ngFor="let img of parsedImages; let i = index"
             [src]="img"
             (click)="changeCover(img)"
             [class.border-red-400]=" img === cover()"/>
      </div>
    </div>

    <div class="content-info">
      <h1>{{ product?.title }} <em class="icon-pencil" (click)="viewCard()"></em> <em class="icon-trash" (click)="deleteProduct()"></em></h1>
      <p class="description">{{ product?.description }}</p>
      <p class="price">$ {{ product?.price }}</p>
      <img class="payment-img" src="/assets/images/pagos.png" alt="metodos de pago">
    </div>
  </div>
</div>



@if (handlerMenu()) {
  <app-edit-product/>
}
