<div class="product-detail" >
  <h1>{{ product?.title }} <em (click)="viewCard()">EDITAR</em></h1>
  <h2 (click)="deleteProduct()">borrar </h2>
  <p class="price">$ {{ product?.price }}</p>
  <p class="description">{{ product?.description }}</p>

  <div class="category">
    <h3>Category: {{ product?.category?.name }}</h3>
  </div>

  <div class="images">
    <h3>Images:</h3>
    <div *ngFor="let image of parsedImages; let i = index" class="image-container">
      <img [src]="image" alt="imagen del producto" />
    </div>
  </div>

  <div class="timestamps">
    <p><strong>Created at:</strong> {{ product?.creationAt  }}</p>
    <p><strong>Updated at:</strong> {{ product?.updatedAt  }}</p>
  </div>
</div>

@if (handlerMenu()){
  <app-edit-product/>
}
