<div class="card">
   <span class="close-modal icon-close" (click)="viewCard()"></span>


  <form [formGroup]=formProduct (submit)="sendFormProduct()">


    <div class="col-12 md:col-6 lg:col-6">
      <div class="form-container">
        <div class="form-group">
          <label class="form-label">name</label>
          <input class="form-input"  placeholder="" formControlName="title">
          <span class="form-line"></span>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-6">
      <div class="form-container">
        <div class="form-group">
          <label class="form-label">price</label>
          <input class="form-input"  placeholder="" formControlName="price">
          <span class="form-line"></span>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-6">
      <div class="form-container">
        <div class="form-group">
          <label class="form-label">description</label>
          <input class="form-input"  placeholder="" formControlName="description">
          <span class="form-line"></span>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-6">
      <div class="form-container">
        <div class="form-group">
          <label class="form-label"> categoryId</label>
          <ng-select [items]="categories"
                     bindValue="id"
                     bindLabel="name"
                     class="custom-two form-ng-select"
                     formControlName="categoryId"
                     placeholder="Seleccione una opción"
                     [searchable]="false">
          </ng-select>

          <span class="form-line"></span>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-6">
      <div class="form-container">
        <div class="form-group">
          <label class="form-label">images</label>
          <em class="icon-plus plus-icon" (click)="pushImages()"></em>
          <input class="form-input input-plus"  placeholder="" formControlName="images" >
          <span class="form-line"></span>
        </div>
      </div>
    </div>

    <div class="col-12  show-img">
      @for (item of images; track item) {
        <em class="icon-trash" (click)="deleteImage($index)"></em>
        <img ngSrc="{{item}}" alt="" width="300" height="200" >
      }
    </div>


    <button class="btn-general" type="submit">enviar</button>
  </form>

</div>

