.wrapper-home{
  height: 100vh;
  width: 100%;
  overflow: auto;

  .header {
    //padding: 10px; //revisar mañana
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: #8b291c;

    .btn-general{
      width: 150px;
      margin: 0;
    }
  }

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background: linear-gradient(to bottom, #f0f0f0 0%, #ffffff 50%);
    &:hover{
      cursor: pointer;
      transform: translateY(-5px);
    }

    .title {
      font-size: 1.5rem;
      margin-top: 0;
      white-space: nowrap;         // No permite que el texto ocupe varias líneas
      overflow: hidden;            // Oculta el contenido desbordante
      text-overflow: ellipsis;
    }

    p {
      margin: 10px 0;
    }

    .category {
      margin-bottom: 20px;

    }

    .images {
      img {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        object-fit: contain;
      }
    }
  }
}
}
