<div class="wrapper-home">

  <div class="header">
    <img ngSrc="assets/images/logo.jpeg" alt="" height="50" width="50">
    <button class="btn-general" (click)="viewCard()">Agregar producto</button>
  </div>


  <div class="product-list">
    <div *ngFor="let product of products" routerLink="../product/{{product.id}}" class="product">
      <div class="images">
        <img [src]="product.images[0]" />
      </div>
      <h2 class="title">{{ product.title }}</h2>
      <p> Precio: ${{ product.price }}</p>
      <div class="category">
        <h3>Categoria {{ product.category.name }}</h3>
      </div>

    </div>
  </div>


  @if (handlerMenu()){
    <app-edit-product
      (addedProduct)="addedProduct($event)"
    />
  }


</div>
